<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_name" class="form-control" name="row[custom_name]" type="text" value="{$row.custom_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_tel" class="form-control" name="row[custom_tel]" type="text" value="{$row.custom_tel|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_contact')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_contact" class="form-control" name="row[custom_contact]" type="text" value="{$row.custom_contact|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_address" class="form-control" name="row[custom_address]" type="text" value="{$row.custom_address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_mem')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_mem" class="form-control" name="row[custom_mem]" type="text" value="{$row.custom_mem|htmlentities}">
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
