<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
    <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

   
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_name')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_name" data-source="base/product/getproduct" data-field="product" data-primary-key="product" class="form-control selectpage" name="row[product_name]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_productweight')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_productweight" data-source="base/product/getweight" data-field="product_weight" data-primary-key="product_weight" class="form-control selectpage" name="row[product_productweight]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_grade')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_grade" data-source="base/grade/index" data-field="grade" data-primary-key="grade" class="form-control selectpage" name="row[product_grade]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_quality')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_quality" data-source="base/quality/index" data-field="quality" data-primary-key="quality" class="form-control selectpage" name="row[product_quality]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_specs')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_specs" data-source="base/specs/index" data-field="specs" data-primary-key="specs"  class="form-control selectpage" name="row[product_specs]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_unit')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_unit" class="form-control" name="row[product_unit]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_weight')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_weight" data-rule="required" class="form-control" name="row[product_weight]" type="number">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_diameter')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_diameter"  class="form-control" name="row[product_diameter]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_broken')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_broken"  class="form-control" name="row[product_broken]" type="number">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_mother_code')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_mother_code" class="form-control" name="row[product_mother_code]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_storage')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_storage" data-rule="required" data-source="base/storage/index" data-field="storage" data-primary-key="storage" class="form-control selectpage" name="row[product_storage]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_product_datetime')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_product_datetime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[product_product_datetime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_inbound_datetime')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_inbound_datetime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[product_inbound_datetime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>

        <label class="control-label col-xs-12 col-sm-1">{:__('Product_group')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_group" data-source="setting/group/index" data-field="group" data-primary-key="group" class="form-control selectpage" name="row[product_group]" type="text">
        </div>
   
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_machine')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_machine" data-source="setting/machine/index" data-field="machine" data-primary-key="machine" class="form-control selectpage" name="row[product_machine]" type="text">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Product_qc')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-product_QC" data-source="setting/person/index" data-field="person" data-primary-key="person" class="form-control selectpage" name="row[product_QC]" type="text">
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            <button type="button" class="btn btn-info btn-embossed btn-accept">{:__('确定')}</button>
            
        </div>
    </div>
</form>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('product/product/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('product/product/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        <a href="javascript:;" class="btn btn-info btn-printing btn-disabled disabled {:$auth->check('product/product/print')?'':'hide'}" title="{:__('printing')}" ><i class="fa fa-leaf"></i> {:__('Printing')}</a>
                        
                      
                        
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('product/product/edit')}" 
                           data-operate-del="{:$auth->check('product/product/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
